services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: ${STACK_NAME_PREFIX}-portainer
    env_file:
      - ../../.env.portainer
    ports:
      - 9000:9000
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  portainer_data:
