

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    env_file:
      - ../../.env
    ports:
      - 9000:9000
    volumes:
      - ../../.homelab/portainer/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
     